<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.mapper.UserMapper">
	
	<!-- 用户登录（根据用户名查找返回密码，校验） -->
	<select id="findPassByName" parameterType="String" resultType="String">
		select password from user where username=#{username}
	</select>
	
</mapper>